*{
    margin-top: 0;
    margin-right:10px;
    margin-left:10px;
    margin-bottom: 0px;
    padding: 0;
    
}

header { 
    background: #4d4d4da2;
    display: grid;
    position: fixed;
    width: calc(100% - 40px);
    height: 25%;
    margin-left: 0%;  
    grid-template-columns: 1fr;
    align-content: center;
   
}
.header{
    display: grid;
    grid-template-columns: 0fr 3fr 0fr;
}
.card1{
    text-align: center;
    margin:0%;    
    height: fit-content;
}
h1{
    text-align:center;
    margin: 0%;
}

.fa-solid{
    margin:0%;  
    height: fit-content;
    font-size:x-large;
    cursor: pointer;     
}


#boton {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    width: 70px;
    font-size: 20px;
    cursor: pointer;
    float: right;
   }


.menu{
    width: 0px;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: left;
    padding-top: 20px;
    transition: 150ms;
    z-index: 200;
    overflow: hidden;
    /*grid-template-rows:0.1fr 0.1fr 0.1fr  ;
    overflow:hidden;
    transition: 250ms;
    /*z-index: 200;
    /*overflow y width*/ 
       /*display: inline-block;*/
    /*float: left;*/  
}

ul {
    list-style-type: none;
    margin: 0.1%;
  }

li{
    padding: 20px;
}
.menu a{
    font-weight: 100;
    margin-left: 0%;
}
  .menu a:hover{
      color:white;
    
  }

/*clase para usar en Js*/
.menu_side_move{
    overflow: visible;
    width:320px;
    border-radius: 20px;
   
}
    

section{
    display:grid;
    width: 100%;
    background-color: #e32b2b8a;
    grid-template-columns: 1fr 1fr; 
    margin-top: 1%;
    margin-left: 0;
    
}


.col-md {
    display: grid;
   /* width: 100%;*/
    align-items: center!important;
   
}
.col-md >img{  
    width: 100%;
    height: 600px;
    margin-top: 1%;
    margin-left: 0;



}

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    margin-top: 2%;
    /*background-color: rgba(0, 255, 255, 0.144);*/
}


.card{
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;
    min-width: 50%;
   
}

figure {
    margin-top: 0px;
    background-color:rgb(255, 254, 241);
    padding:0px 0px 70px 0px;
    border:1px solid #BFBFBF;
    box-shadow:7px 7px 10px rgba(0, 0, 0, 0.8);
    
    /*border-radius: 10px;*/
    /*width:fit-content;*/
    
    
    /*padding: 20px;*/
    
  
}
figure > img{
    width:100%;
    height: 75%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;  
}

figcaption{
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
    background-color: aqua;
  
}



@media only screen and (max-width:700px){
section{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
   
}
.container2{
    grid-template-columns:  1fr;
    grid-template-rows: auto;
  
}

}

@media only screen and (min-width:700px) and (max-width:900px){
    section{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
       
    }
    .container2{
        grid-template-columns:  1fr 1fr;
        grid-template-rows: auto;
      
    }
}