*{
    margin-top: 0;
    margin-right:10px;
    margin-left:10px;
    margin-bottom: 0px;
    
}

body{
    display: grid;
   
    
}


header { 
    background-color: black;
    display: grid;
    position: fixed;
    width: calc(100% - 40px);
    height: 15%;
    margin-left: 0%;  
    margin-top: 0%;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 1fr;
    align-content: center;
    z-index: 100;
    
}


 /*clase para js
.header-appear{
    overflow: visible;
    width:320px;
    border-radius: 20px; 
}*/

.header{
    display: grid;
    grid-template-columns: 0fr 3fr 0fr;
    color:aliceblue; 
}

.header-mini{
    text-align: center;
    width: 100%;
    margin-left: 0; 
}

.header-mini >h3{
    background-color: #2a2929cc;
    color: aliceblue;
    width: 100%;
    margin-left: 0;
    font-weight: 100;
}
.card1{
    text-align: center;
    margin:0%;    
    height: fit-content;
}
h1{
    text-align:center;
    margin: 0%;
}

.fa-solid{
    margin:0%;  
    height: fit-content;
    font-size:x-large;
    cursor: pointer;     
}


#boton {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    width: 70px;
    font-size: 20px;
    cursor: pointer;
    float: right;
   }


.menu{
    width: 0px;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: left;
    padding-top: 20px;
    transition: 150ms;
    z-index: 200;
    overflow: hidden;
    /*grid-template-rows:0.1fr 0.1fr 0.1fr  ;
    overflow:hidden;
    transition: 250ms;
    /*z-index: 200;
    /*overflow y width*/ 
       /*display: inline-block;*/
    /*float: left;*/  
}

ul {
    list-style-type: none;
    margin: 0.1%;
  }

li{
    padding: 20px;
    font-size:x-large;
}
.menu a{
    font-weight: 100;
    margin-left: 0%;
}
  .menu a:hover{
      color:white;
    
  }

/*clase para usar en Js*/
.menu_side_move{
    overflow: visible;
    width:320px;
    border-radius: 10px;
    
   
}
    
/*.container-main{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    
}

.column{
    display: grid;
    margin:0;
    margin-bottom: 0;
    margin-top: 7%;
}

.container-main > .column > img{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    height: 90%;
}*/

.container{
    display:grid;
    width: 100%;
    background-color: #fff8bc;
    grid-template-columns: 1fr 1fr; 
    margin-left: 0;
    gap: 1%;   
    /*margin-top: 170px;*/
}


.col-md {
    display: grid;
    align-items: center!important;
    margin: 0;
    margin-top: 0%;
}
.col-md >img{  
    width: 100%;
    height: 600px;
    margin-left: 0;
    cursor: pointer;
    /*position: relative;*/
    
}
.col-md >img:hover{
    opacity: 0.7;
    
}
.col-md .text-img{
    display: flex;
    width: 45%;
    margin:20px;
    justify-content: center;
    align-self: center;
    position: absolute;
    background-color: black;
    color: rgb(255, 16, 16);
    visibility: hidden;
    font-size: xx-large; 
    text-align: center;
    z-index: 200;
    
}

.col-md:hover .text-img{
    visibility: visible;
   /* opacity: 1; 
    z-index: 200; 
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;  */
}

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    margin-top: 15px;
    background-color: aqua;   
}

.titulo-seccion{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 70px;
    padding: 10px;
    position:static;
    background-color: aliceblue;
}
.titulo-seccion>h2{
    font-size: xx-large;
    font-weight: 100;
   
}
.card{
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;
    min-width: 50%;  
}

figure{
    margin-top: 0px;
    background-color:rgb(255, 254, 241);
    padding:0px 0px 70px 0px;
    border:1px solid #BFBFBF;
    box-shadow:7px 7px 10px rgba(0, 0, 0, 0.8); 
}
figure:hover {
    -webkit-transform:scale(1.02);
    -moz-transform:scale(1.02);
    -ms-transform:scale(1.02);
    -o-transform:scale(1.02);
    transform:scale(1.02);
}
figure > img{
    width:100%;
    height: 75%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;  
    cursor: pointer;
    opacity: 1;
}
figure> img:hover{
    opacity: 0.7;
}


figcaption{
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
    background-color: aqua;
  
}

/*PRODUCTOS- GRID*/

.space{
   /* margin-top: 15%;*/
   padding-bottom: 10%;
}
/*REGISTRO- FLEXBOX*/
.contacto-container{
    display:flex;
    justify-content: center;
    height: 60%;
    align-items: center;
    margin-top: 250px;
   
    margin-right: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    
}

#contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color:aliceblue;
    flex-direction:column;
    flex-wrap: wrap;
    row-gap: 5px;
    font-size: xx-large;
    border-radius: 10px;
}
#boton-contacto{
    cursor: pointer;
    
}

#advertencia{
    margin-top: 30px;
    color: black;
}

.dato{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    margin-right: 50px;
    width: 100%;
}
#validationCustom01{
    display: flex;
    align-self: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
}
#consulta{
    height: 150px;
}

#terminos{
    display: flex;
    align-self: flex-start;
    margin-top: 20px;
    font-size: small;
}
#footerJs {
    display: flex;
    width: calc(100% + 1px);
    margin-left: 0;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    height: auto; 
    flex-direction: column;
}
.footer-mini{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;

}
.foot{
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.foot-item{
    display: flex;
    margin: 10px;
    
}

.footer2{
    display: flex;
    align-self: center;
}




@media only screen and (max-width:560px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
        /*margin-top: 170px;*/
       
    }
    .container2{
        grid-template-columns:  1fr;
        grid-template-rows: auto;
       
      
    }
    .column{
        display: grid;
        margin:0;
        margin-bottom: 0;
        margin-top: 30%;
    }
    .space{
       /* margin-top: 45%;*/
       padding-bottom: 30%;
    }

    .contacto-container{
        display:flex;
        justify-content: center;
        height: 70%;
        align-items: center;
        margin-top: 250px;
       
        margin-left: 2px;
        flex-wrap: wrap;
        
    }
    #contacto{
       margin-right:20px;
    }
    .col-md .text-img{
        display: flex;
        width: 80%;
        margin-left: 25px;
        justify-content: center;
        align-self: center;
        position: absolute;
        background-color: black;
        color: rgb(255, 16, 16);
        visibility: hidden;
        font-size: xx-large; 
        text-align: center;
        z-index: 200;
        
    }

    

}

@media only screen and (min-width:560px) and (max-width:740px){
.container{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
   /* margin-top:170px;*/
   
}
.container2{
    grid-template-columns:  1fr;
    grid-template-rows: auto;
    
  
}
.column{
    display: grid;
    margin:0;
    margin-bottom: 0;
    margin-top: 20%;
}
.space{
    /*margin-top: 35%;*/
    padding-bottom:20% ;
}
.contacto-container{
    display:flex;
    justify-content: center;
    height: 70%;
    align-items: center;
    margin-top: 250px;
  
    /*position:inherit;*/
    margin-left: 2px;
    flex-wrap: wrap;
  
}
.col-md .text-img{
    display: flex;
    width: 80%;
    margin:8%;
    justify-content: center;
    align-self: center;
    position: absolute;
    background-color: black;
    color: rgb(255, 16, 16);
    visibility: hidden;
    font-size: xx-large; 
    text-align: center;
    z-index: 200;
    
}


}

@media only screen and (min-width:740px) and (max-width:1200px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
        /*margin-top: 170px;*/
       
    }
    .container2{
        grid-template-columns:  1fr 1fr;
        grid-template-rows: auto;
        margin-left: 2px;
  
    }

    .column{
        display: grid;
        margin:0;
        margin-bottom: 0;
        margin-top: 20%;
    }
  
    .space{
        /*margin-top: 30%;*/
        padding-bottom: 17%;
    }
    .contacto-container{
    display:flex;
    justify-content: center;
    height: 70%;
    align-items: center;
    margin-top: 250px;

    /*position:inherit;*/
    margin-left: 2px;
    flex-wrap: wrap;
    
}
.col-md .text-img{
    display: flex;
    width: 80%;
    margin:8%;
    justify-content: center;
    align-self: center;
    position: absolute;
    background-color: black;
    color: rgb(255, 16, 16);
    visibility: hidden;
    font-size: xx-large; 
    text-align: center;
    z-index: 200;
    
}



}